Source: gummi
Section: misc
Priority: extra
Maintainer: Wei-Ning Huang (AZ) <aitjcize@gmail.com>
Build-Depends: cdbs, debhelper (>= 7), autotools-dev, intltool, libgtk2.0-dev, libglib2.0-dev, libpoppler-glib-dev, libgtksourceview2.0-dev, libgtkspell-dev
Standards-Version: 3.9.1
Homepage: http://gummi.midnightcoding.org/

Package: gummi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgtk2.0-0, libglib2.0-0, libgtksourceview2.0-0, libgtkspell0, libpoppler-glibX, texlive, texlive-extra-utils, texlive-latex-extra
Description: Simple LaTeX editor for Linux
 Gummi is a simple light-weight LaTeX editor for GTK+ users written in C.
