[Desktop Entry]
Version=0.4.0
Name=Gummi
GenericName=LaTeX Editor
Comment=Simple LaTeX Editor
Exec=gummi
Icon=gummi
Terminal=false
Type=Application
Categories=Office;
StartupNotify=true
