include gummi
include gummi/gui/gummi.glade
include gummi/gui/prefs.glade
include gummi/gui/icon.png
include gummi/gui/article.png
include gummi/gui/book.png
include gummi/gui/letter.png
include gummi/gui/report.png
include gummi/docs/LICENSE
include gummi/docs/CHANGES
include gummi/docs/INSTALL
include gummi/misc/gummi
include gummi/misc/gummi.desktop
include gummi/misc/gummi.png
include gummi/misc/gummi.1
include po/*



